.container{
    width: 90%;
    overflow: hidden;
    background-color: wheat;
}
.start{
    width: 80%;
    height: 55px;
   /* margin-left: 100px;*/
    background-color: gray;
}
.start .header{
    width: 30%;
    height: 100%;
    float: left;
  /*  background-color: purple;*/
}
.fruit{
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    color: white;
    line-height: 0.5;
    float: left;
    margin-left: 30px;
}
.start .menu{
    width: 70%;
    height: 100px;
   /* background-color: chartreuse;*/
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul li{
    float: left;
}
ul  li a{
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    color: bisque;
}
ul li a:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px purple;
    transition: 0.5s;
}
i{
    width: 20px;
    height: 70px;
    align-items: center;
}
.naw{
    width: 30%;
    height: 55%;
   /* background-color: burlywood;*/
    float: right;
    margin-right: -100px;
}
/* From Uiverse.io by vinodjangid07 */ 
.InputContainer {
    margin-top: 3px;
   float: right;
  margin-right: -350px;
  width: 210px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}
.input {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}
.drink{
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    line-height: 3;
    float: left;
    margin-left: 50px;
}
.drink2{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    line-height: 2.4;
    float: left;
    margin-left: 10px;
}
.drink3{
    font-size: 27px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 4;
    float: left;
    margin-left: -220px;
}
.cafe{
    font-size: 23px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 6;
    float: left;
    margin-left: 7px;
}
.sm{
    width: 230px;
    height: 50px;
    background-color: #ccc;
    float: left;
    margin-left: 230px;
    margin-top: 55px;
    text-align: center;
    line-height: 2;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkmagenta;
}
.cafe1{
   float: left;
   margin-left: -840px;
   line-height: 13;
   font-size: 20px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sm1-box{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    float: left;
    margin-left: -850px;
    margin-top: 190px;
}
input{
    width: 45px;
    height: 25px;
}
label{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sm2-box{
    display: flex;
    align-items: center;
    gap: 10px;
    float: left;
    margin-left: -850px;
    margin-top: 230px;
}
.sm3-box{
     display: flex;
    align-items: center;
    gap: 10px;
    float: left;
    margin-left: -850px;
    margin-top: 270px;
}
.sm2{
    width: 310px;
    height: 200px;
   /* background-color: blue;*/
    margin-top: 300px;
    margin-left: 40px;
    padding: 2px;
}
.sm2 p{
    font-size: 18px;
    font-weight: bold;
    color: purple;
   line-height: -90;

}
.s1{
    width: 55px;
    height: 35px;
    background-color: palevioletred;
    border-radius: 2px;
    text-align: center;
    line-height: 2;
}
.s2{
    width: 55px;
    height: 35px;
    background-color: palevioletred;
    border-radius: 2px;
    margin-top: -35px;
    margin-left: 65px;
    text-align: center;
    line-height: 2;
}
.s3{
     width: 55px;
    height: 35px;
    background-color: palevioletred;
    border-radius: 2px;
    margin-top: -35px;
    margin-left: 130px;
    text-align: center;
    line-height: 2;
}
.s4{
    width: 55px;
    height: 35px;
    background-color: palevioletred;
    border-radius: 2px;
    margin-top: -35px;
    margin-left: 197px;
    text-align: center;
    line-height: 2;
}
.s5{
    width: 55px;
    height: 35px;
    background-color: palevioletred;
    border-radius: 2px;
    margin-top: 15px;
    text-align: center;
    line-height: 2;
}
.s6{
    width: 55px;
    height: 35px;
    background-color: palevioletred;
    border-radius: 2px;
    margin-top: 15px;
    text-align: center;
    line-height: 2;
}
.s7{
    width: 55px;
    height: 35px;
    background-color: palevioletred;
    border-radius: 2px;
    margin-top: -85px;
    margin-left: 65px;
    text-align: center;
    line-height: 2;
}
.s8{
    width: 55px;
    height: 35px;
    background-color: palevioletred;
    border-radius: 2px;
    margin-top: -35px;
    margin-left: 130px;
    text-align: center;
    line-height: 2;
}
.s9{
    width: 55px;
    height: 35px;
    background-color: palevioletred;
    border-radius: 2px;
    margin-top: -35px;
    margin-left: 197px;
    text-align: center;
    line-height: 2;
}
.s10{
    width: 55px;
    height: 35px;
    background-color: palevioletred;
    border-radius: 2px;
    margin-top: 15px;
    margin-left: 65px;
    text-align: center;
    line-height: 2;
}
.s11{
    width: 55px;
    height: 35px;
    background-color: palevioletred;
    border-radius: 2px;
    margin-top: -35px;
    margin-left: 130px;
    text-align: center;
    line-height: 2;
}
.s-box{
    width: 310px;
    height: 120px;
  /*  background-color: grey;*/
    margin-left: 40px;
    padding: 2px;
    font-size: 18px;
    font-weight: bold;
    line-height: 3;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: 1px solid black;
}
.sb1{
    width: 37px;
    height: 37px;
    background-color: rgb(41, 38, 38) ;
    border-radius: 4px;
    margin-top: 45px;
    margin-left: -80px;
}
.sb2{
    width: 37px;
    height: 37px;
    background-color: rgb(223, 206, 206) ;
    border-radius: 4px;
    margin-top: 45px;
    margin-left: 7px;
}
.sb3{
    width: 37px;
    height: 37px;
    background-color: rgb(173, 56, 56) ;
    border-radius: 4px;
    margin-top: 45px;
    margin-left: 7px;
}
.sb4{
     width: 37px;
    height: 37px;
    background-color: rgb(71, 34, 152) ;
    border-radius: 4px;
    margin-top: 45px;
    margin-left: 7px;
}
.sb5{
    width: 37px;
    height: 37px;
    background-color: rgb(208, 208, 21) ;
    border-radius: 4px;
    margin-top: 45px;
    margin-left: 7px;
}
.sb6{
    width: 37px;
    height: 37px;
    background-color: #898282;
    border-radius: 4px;
    margin-top: 45px;
    margin-left: 7px;
}
.s2-box{
    width: 320px;
    height: 140px;
  /*  background-color: grey;*/
    margin-left: 40px;
    font-size: 18px;
    font-weight: bold;
    line-height: 3;
    border: 0.5px solid grey;
}
.slider{
    width: 97%;
    cursor: pointer;
     accent-color: purple;
}
.price{
    display: flex;
    justify-content: space-between;
    margin-top: -27px;
    color: #2d2d7d;
    font-size: 18px;
}
.s3-box{
    width: 790px;
  /*  height: 1000px;*/
  /*  background-color:#2d2d7d;*/
    margin-left: 400px;
    margin-top:-740px;
    padding:7px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
}
.b1{
    /*width: 250px;*/
    /*  height: 350px;*/
    height: 350px;
  /*  background-color:rgb(173, 56, 56);*/
    padding: 5px;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
}
.b2{
    width: 250px;
    height: 260px;
    background-color: rgb(0, 179, 255);
    border-radius: 4px
}
.b2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.b2 img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px purple;
}
.des .milk{
    font-size:17px;
    margin-top: 7px;
}
.des .milk2{
    font-size:20px;
    margin-top: -10px;
    font-weight: bold;
}
.des .milk3{
    font-size:17px;
    margin-top: -10px;
}
.best{
    position: absolute;
    background: rgb(22, 129, 20);
    color: rgb(147, 23, 23);
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
}
.btn{
    width: 150px;
    height: 55px;
    background-color: sandybrown;
    margin-left: 750px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: bold;
     transition: 0.5s;
}
.btn:hover{
    transform: scale(1.05);
     box-shadow: 0 0 15px red;
   
}
/*.s4-box{
    width: 100%;
    height: 350px;
    background-color: seagreen;
}*/
.s4-box{
    width: 100%;
    height: 390px;
    background-color: #ccc;
}
.s4-box h2{
    color: slateblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    float: left;
    margin-left: 70px;
    margin-top: 55px;
}
.orange2{
    font-size: 18px;
    line-height: 10;
    float: left;
    margin-left: -130px;
    word-spacing: 4px;
}
.grape2{
    font-size: 18px;
    line-height: 13;
    float: left;
    margin-left: -240px;
    word-spacing: 4px;
}
.kiwi{
    font-size: 18px;
    line-height: 16;
    float: left;
    margin-left: -255px;
    word-spacing: 4px;
}
.exp{
    font-size: 17px;
    font-weight: bold;
    line-height: 8;
    float: left;
    margin-left: 110px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.kiwi2{
    font-size: 20px;
    line-height: 9;
    float: left;
    margin-left: -87px;
    word-spacing: 4px;
}
.mango{
    font-size: 20px;
    line-height: 12;
    float: left;
    margin-left: -120px;
    word-spacing: 4px;
}
.staw{
    font-size: 20px;
    line-height: 15;
    float: left;
    margin-left: -130px;
    word-spacing: 4px;
}
.staw3{
   font-size: 20px;
    line-height: 18;
    float: left;
    margin-left: -150px;
    word-spacing: 4px;
}
.spp{
    font-size: 17px;
    font-weight: bold;
    line-height: 8;
    float: left;
    margin-left: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.mango2{
    font-size: 20px;
    line-height: 8.5;
    float: left;
    margin-left: -85px;
    word-spacing: 4px;
}
.staw2{
     font-size: 20px;
    line-height: 11.5;
    float: left;
    margin-left: -105px;
    word-spacing: 4px;
}
.matcha{
    font-size: 20px;
    line-height: 14.5;
    float: left;
    margin-left: -197px;
    /*word-spacing: 4px;*/
}
.matcha2{
    font-size: 20px;
    line-height: 17.5;
    float: left;
    margin-left: -197px;
}
.new{
    font-size: 17px;
    font-weight: bold;
    line-height: 8;
    float: left;
    margin-left: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px; 
   
}
.coca{
    font-size: 21px;
    line-height: 12;
    float: left;
    margin-left: -370px;
    word-spacing: 4px;
}
.coca2{
    margin-top: -66px;
    font-weight: bold;
    float: left;
    margin-left: 450px;
}
.coca3{
    font-size: 17px;
    line-height: 10;
    float: left;
    margin-left: -130px;
}
.line {
    width: 360px;
    border-radius: 3px;
    height: 3px;
    background-color: rgb(115, 111, 111);
    float: left;
    margin-left: 400px;
    margin-top: -100px;
}
.line2 {
    width: 100%;
    border-radius: 3px;
    height: 1px;
    background-color: rgb(115, 111, 111);
    float: left;
    margin-top: -20px;
}
.at{
    font-size: 17px;
    color: rgb(93, 154, 215);
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: -12;
    float: left;
    margin-left: 17px;
}
.tm{
     font-size: 17px;
    line-height: 1;
    float: left;
    margin-left: 600px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pri{
    font-size: 17px;
    line-height: 1;
    float: left;
    margin-left: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.acs{
     font-size: 17px;
    line-height: 1;
    float: left;
    margin-left: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*Desktop*/
@media (max-width: 1440px) {
    
}
/*Tablet*/
@media (max-width: 1024px) {
    
}
/*Phone*/
@media (max-width: 600px) {
    
}
